.banner{
    margin:0;
    padding:0;
}

.banner img{
    width: 100%;
}

.row{
    padding: 5em;
}

.cover{
    text-align: center;
}

.intro{
    text-align: center;
}

.song{
    text-align: center;
}

footer .box {
    background-image: url(img/footer.jpg);
    min-height: 20em;
}
